body {
    margin: 0;
    /* Remove html margin */
    /* background-color: #EAEAEA; */
    background-color: #F0E9D2;
    /* background-color: #EEEEEE; */
}

/* DISABLE USER DRAG */
img{
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* HEADER SECTION */

#header-section{
    background-color: #142F43;

}

.title-picture img{
    width: 100%;
}


.title-flexbox{

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.title{
    width: 40%;
    /* position: relative;
    top: -40px;  */

}


.slogan{

    /* position: relative;
    top: -40px;  */
    color: white;

}

/* HEADER SECTION */

/* CONTENT SECTION */

#content-section{
    margin: 0 auto;
    width: 90%;
}

.columns{
    display: grid;
    grid-auto-flow: row;

    gap: 1em;
}

.left-pane{
    text-align: justify;

}

.right-pane{
    text-align: justify;


}



@media screen and (min-width: 1024px) {

.columns{
    grid-template-columns: 60% 40%;

}

#content-section{
    margin: 0 auto;
    width: 60%;
}

.title-flexbox{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;

}

.title-image{
    display: flex;
    align-items: center;
    width: 50%;

}

.title-image > img{
    width: 50%;
}

.title{
    /* position: relative;
    top: -100px; */
    margin: 0;

}

.slogan{
    /* position: relative;
    top: 20px; */
    font-size: 2em;
    margin: 0;
}




}